BlockchainTestsButNotGeneralStateTests:
  - BlockchainTests/
  - ^BlockchainTests/GeneralStateTests # this dir and all contents will be excluded
OnlyGeneralStateTests:
  - BlockchainTests/GeneralStateTests/
  - GeneralStateTests/
SomeRandomCollection:
  - VMTests
  - ^VMTests/vmRandomTest/201503102320PYTHONFiller.json # only this file will be excluded
RandomVMTests:
 - VMTests/vmTests
 - VMTests/vmRandomTest/201503102320PYTHON.json
 - ^GeneralStateTests/ # doesn't do anything here because it was never included
AllButVMTests:
 - /
 - ^VMTests/
