Commit: %commithex%
----------------------------------
All Tests:				[download .zip]
Source changes: [32 files](diff)
Artefact changes: [11 files](diff)
----------------------------------
Blockchain Tests:			[download .zip]
Source changes: [12 files](diff)
Artefact changes: [10 files](diff)
----------------------------------
General State Tests:			[download .zip]
Source changes: [12 files](diff)
Artefact changes: [5 files](diff)
----------------------------------
Some Random Bundle			[download .zip]
Source changes: [3 files](diff)
Artefact changes: 0 files
----------------------------------
